<ul class="menu">
    <li>
        <a href="{% url 'main' %}">main page</a>
    </li>
    <li>
        <a class="{% if 'user' in request.resolver_match.url_name%}active{% endif %}" href="{% url 'admin:user_read' %}">users</a>
    </li>
    <li>
        <a class="{% if 'category' in request.resolver_match.url_name or 'product' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'admin:category_read' %}">
            categories
            {% if category %}
                : {{ category.name }}
            {% endif %}
        </a>
    </li>
</ul>